<div>
  <link href="./blog-post-card4.css" rel="stylesheet" />
  <div class="blog-post-card4-blog-post-card">
    <img
      alt="image"
      src=""
      class="blog-post-card4-image"
    />
    <div class="blog-post-card4-container">
      <h2 class="techvanx-red"><span>Lorem ipsum</span></h2>
      <div class="blog-post-card4-separator"></div>
      <p class="blog-post-card4-text1 techvanx-blue">
        <span>
          Lorem ipsum lorem ipsum dolor sit amet, consectetur adipiscing elit.
        </span>
      </p>
    </div>
  </div>
</div>
