<div>
  <link href="./footer.css" rel="stylesheet" />
  <footer class="footer-footer">
    <footer class="footer-footer1">
      <img
        alt="logo"
        srcset="/logo-1500h.webp 1200w, /logo-tablet.webp 800w, /logo-mobile.webp 480w"
        sizes="(min-width: 992px) 1200px, (min-width: 768px) 800px, 480px"
        src="public/Branding/logo-1500h.webp"
        class="footer-image"
      />
      <span class="techvanx-blue footer-text">
        © 2024 techVanX Softwares Pvt. Ltd., All Rights Reserved.
      </span>
      <div class="footer-icon-group">
        <svg viewBox="0 0 1024 1024" class="footer-icon">
          <path
            d="M854 342v-86l-342 214-342-214v86l342 212zM854 170q34 0 59 26t25 60v512q0 34-25 60t-59 26h-684q-34 0-59-26t-25-60v-512q0-34 25-60t59-26h684z"
          ></path>
        </svg>
        <a
          href="mailto:contact@techvanx.com?subject=Hello !!!"
          class="footer-link techvanx-blue"
        >
          <span>contact@techvanx.com</span>
        </a>
      </div>
    </footer>
  </footer>
</div>
