<div>
  <link href="./header.css" rel="stylesheet" />
  <div class="header-container">
    <section data-role="Header" class="header-header">
      <img
        alt="logo"
        src="public/Branding/logo-200h.webp"
        class="header-image"
      />
      <div class="header-nav">
        <nav
          class="techvanx-blue font-family header-navigation-links-root-class-name17 header-navigation-links-nav"
        >
          <a
            href="#home-page"
            class="header-navigation-links-text techvanx-blue"
          >
            <span>Home</span>
          </a>
          <a
            href="#services"
            class="header-navigation-links-link techvanx-blue"
          >
            <span>Offerings</span>
          </a>
          <a
            href="#business-model"
            class="header-navigation-links-link1 techvanx-blue"
          >
            <span>Operating Framework</span>
          </a>
          <a
            href="#about-us"
            class="header-navigation-links-link2 techvanx-blue"
          >
            <span>About Us</span>
          </a>
        </nav>
      </div>
    </section>
  </div>
</div>
