<div>
  <link href="./header-navigation-links.css" rel="stylesheet" />
  <nav class="techvanx-blue font-family header-navigation-links-nav">
    <a href="#home-page" class="header-navigation-links-text techvanx-blue">
      <span>Home</span>
    </a>
    <a href="#services" class="header-navigation-links-link techvanx-blue">
      <span>Offerings</span>
    </a>
    <a
      href="#business-model"
      class="header-navigation-links-link1 techvanx-blue"
    >
      <span>Operating Framework</span>
    </a>
    <a href="#about-us" class="header-navigation-links-link2 techvanx-blue">
      <span>About Us</span>
    </a>
  </nav>
</div>
